/* fonts */
body {
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2,
p {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

nav {
    width: 45%;
}

/* all sections */
.colored-section {
    background-color: #93BFCF;
    color: #000;
}

.white-section {
    color: #000;
}

.container-fluid {
    padding: 5% 10%;
    text-align: center;
}

.section-content {
    width: 60%;
    margin: auto;
}

/* title section */
.nav-link {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0 45px;
}

#title {
    padding: 1% 10% 7%;
}

#title h1 {
    color: #4b565d;
}

#title h2 {
    color: #293945;
}


#profile-image {
    border-radius: 100%;
}

#profile-image-col {
    text-align: center;
}

/* Education */
#education-list {
    text-align: left;
}

#education h3 {
    color: #7d8f9d;
    font-weight: 500;
}

#education p {
    font-style: italic;
}

/* skills */
#carousel-image {
    width: 60%;
}

#skills-table {
    margin: auto;
}

/* hobbies section */
#hobbies-list {
    text-align: left;
}

/* footer */
#footer {
    text-align: center;
    margin: 30px;
}

.footer-icon {
    margin: 2% 3%;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
}

/* contact me page */
#contact-me-section {
    padding: 1% 5% 10%;

}

.card-img-top {
    width: 60%;
}

.contact-me-row {
    margin: 3% 10%;
}

.contact-card {
    margin: auto;
}

.contact-me-form {
    margin: auto;
    width: 60%;
}